doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Grayscale - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Cloud Parlour
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#projects') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#signup') Contact

        // Masthead
        header.masthead
            .container.d-flex.h-100.align-items-center
                .mx-auto.text-center
                    h1.mx-auto.my-0.text-uppercase Cloud Parlour
                    h2.text-white-50.mx-auto.mt-2.mb-5 Cloud Architects, Engineers and Authorised Trainers solving all your cloud needs.
                    a.btn.btn-primary.js-scroll-trigger(href='#about') Get Started

        // About Section GCP 
        section#about.about-section.text-center
            .container
                .row
                    .col-lg-8.mx-auto
                        h2.text-white.mb-4 Google Cloud Platform(GCP)
                        p.text-white-50
                            | We are experts on 
                            a(href='https://cloud.google.com/') Google Cloud Platform
                            |   who have amassed a wealth of experience on projects right at the top of the Google Cloud Playlist
                img.img-fluid(src='assets/img/super_cloud.png', alt='')

        // About Section Azure
        section#about.about-section.text-center
            .container
                .row
                    .col-lg-8.mx-auto
                        h2.text-white.mb-4 Azure
                        p.text-white-50
                            | We help you create solutions today that adapt for tomorrow with
                            a(href='https://azure.microsoft.com/en-gb/') Microsoft Azure
                            |  . Invent with purpose
                img.img-fluid(src='assets/img/Microsoft_Azure_Logo.png', alt='')


        // Projects
        section#projects.projects-section.bg-light
            .container
                // Featured Project Row
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/bg-masthead.jpg', alt='')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 Shoreline
                            p.text-black-50.mb-0
                                | Better business outcomes with your data. Whether its migrating to the Cloud, Advanced Analytics or Architecture and Design, the Cloud Parlour is your place to be. We are partners who tailor solutions to the need!
                // Project One Row
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Strategty & Consulting
                                    p.mb-0.text-white-50
                                        | We look at your current environment and evaluate what is required to truely unlock the power of Cloud
                                    hr.d-none.d-lg-block.mb-0.ml-0
                // Project Two Row
                .row.justify-content-center.no-gutters
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-02.jpg', alt='')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Cloud Migration
                                    p.mb-0.text-white-50
                                        | We've been involved in some of the most interesting Cloud Migrations. Move your business critical systems, apps and databases rapidly and seamlessly
                                    hr.d-none.d-lg-block.mb-0.mr-0
                // Project Three Row 
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Cloud Security
                                    p.mb-0.text-white-50
                                        | We take Cloud Security seriously. We've gone through the effort of training our people on industry best practices, complicance, data protection and policy management
                                    hr.d-none.d-lg-block.mb-0.ml-0
                // Project Four Row
                .row.justify-content-center.no-gutters
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-02.jpg', alt='')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Big Data & AI
                                    p.mb-0.text-white-50
                                        | Truely unlcok the power of your data. Our PHD Bods help you put the algorithm to the data!
                // Project Three Row 
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Automation & Operations
                                    p.mb-0.text-white-50
                                        | Manual work is the thing of past. Automate your infrastructure, operations, pipelines and processes to reap the benefits of the Cloud. Technologies like Kubernetes, Composer, Terraform and Ansible help you really run it like a real boss!

        // Signup
        section#signup.signup-section
            .container
                .row
                    .col-md-10.col-lg-8.mx-auto.text-center
                        i.far.fa-paper-plane.fa-2x.mb-2.text-white
                        h2.text-white.mb-5 Subscribe to receive updates!
                        form.form-inline.d-flex
                            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email', placeholder='Enter email address...')
                            button.btn.btn-primary.mx-auto(type='submit') Subscribe

        // Contact
        section.contact-section.bg-black
            .container
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Address
                                hr.my-4
                                .small.text-black-50 151 Grays Inn Road, London WC1X 8UB
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4
                                .small.text-black-50
                                    a(href='#!') adam@cloudparlour.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4
                                .small.text-black-50 +44 7393 374999‬
                .social.d-flex.justify-content-center
                    a.mx-2(href='#!')
                        i.fab.fa-twitter
                    a.mx-2(href='#!')
                        i.fab.fa-facebook-f
                    a.mx-2(href='#!')
                        i.fab.fa-github

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container
                | Copyright © Cloud Parlour 2020

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
